/*
Colors used:
Primary Color (Cream): #f5f1ee;
Primary Color (Black): #000000;
Secondary Color (Brown): #bda595;
Secondary Color (Blue): #1734ff;
*/
* {
box-sizing: border-box;
}

body {
background-color: #f5f1ee;
font-family: 'Open Sans', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 400; /* Sets the font weight to 400 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #000;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}
h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
    font-weight: 400;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    font-weight: 400;
}

h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}
img {
    width: 100%;
}

a {
    color: #1734ff;
    text-decoration: none; /* No underlining */
}

  a:visited { /* visited link */
    color: #000000;
  }

  a:hover,
  a:focus {
  color: #1734ff;
  text-decoration: none;
}

  a:active { /* selected link */
    color: #1734ff;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #bda595;
    color: #F5F1EE; /* needed to override the default link color */
    font-weight: 700;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 1px solid #bda595; /* width of the border, type, color */
    transition: 0.2s opacity;
  }

.button:visited {
    background-color: #bda595;
    color: #F5F1EE;
    text-decoration: none;
}

.button:hover {
    background-color: #1734ff;
    color: #F5F1EE;
    text-decoration: none;
}

.button:active {
        background-color: #908074;
        color: #F5F1EE;
        text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #bda595;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #bda595;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
}



    .button.contact {
        display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
        background-color: #1734ff;
        color: #F5F1EE;
        font-weight: 700;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 1px solid #1734ff; /* width of the border, type, color */
        transition: 0.2s opacity;
    }

       .button.contact:visited {
        background-color: transparent;
        background-color: #1734ff;
        color: #F5F1EE;
        text-decoration: none;
        }

        .button.contact:hover {
        background-color: #BDA595;
        color: #F5F1EE;
        text-decoration: none;
              }

        .button.contact:active {
        background-color: #1734ff;
        color: #F5F1EE;
        text-decoration: none;
        }
.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
}

/* Layout styling */

.text-align {
text-align: center; 
}

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { 
    padding-bottom: 25px; border-bottom: 1px solid #000000; 
}

#hero h1 {
    text-align: center; /* Centers text */
  }

#hero h2 {
    text-align: center; /* Centers text */
  }

#hero h4 {
    text-align: center; /* Centers text */
  }

.logo {
    max-width: 100px;
    display: inline-block;
    text-align: center;
}

.animation {
width: 100%;
max-width: 100%;
height: auto;
}

@keyframes color-change {
  0% {fill: #fcffad;} 
  50% {fill: #edc655;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(100px, 48px);}
  to {transform: translate(446px,48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

header {
background-color: #bda595;
text-align: center;
width: 100%;
padding: 20px 0;
position: fixed;

box-shadow: -2px 12px 37px rgba(0, 0, 0, 0.2) ;
    }

  nav > ul {
    list-style-type: none;
    padding: 0;
  }
  nav > ul > li {
    display: inline-block;
   
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 550;
    text-decoration: none;
    color: #f5f1ee;
  }
  nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 550;
    color: #f5f1ee;
  }
  nav > ul > li > a:hover {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 550;
    color: #1734ff;
  }
  nav > ul > li > a:active {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 550;
    color: #1734ff;
  }

  #hero {
    background-color: #F5F1EE;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }

  main {
    padding-top: 180px;
  }

footer {
  text-align: center;
}

 footer a {
  display: inline-block;
  margin: 10px;
 }
 
 .more-margin {
  margin: 40px 0;
 }
footer a svg {
    height: 50px;
  
    }


 /* Medium devices (640px and larger)
================================= */
  @media only screen and (min-width: 640px) {

    header {
      text-align: unset;
    padding: 20px 0 13px;
    }
    
    nav {
    width: auto;
    float: right;
    margin-top: 20px;
    }

  nav > ul > li > a {
      margin-top: 4px;
  }

    body {
        font-size: 18px; 
        }
  
        h1 {
          font-family: 'DM Serif Display', serif;
          font-size: 38px;
          font-weight: 400;
      }
      
      h2 {
          font-family: 'DM Serif Display', serif;
          font-size: 30px;
          font-weight: 400;
      }
      
      h3 {
          font-family: 'DM Serif Display', serif;
          font-size: 26px;
          font-weight: 400;
      }
      
      h4 {
          font-size: 18px;
          font-weight: 700;
      }

    #hero span {
        display: block;
        text-align: center;
          }

        
    .col-md-6 {
        width: 50%;
          }


          [class*="col-"] {
            float: left;
            padding: 10px;
          }
        
        .row::after {
            content: "";
            clear: both;
            display: table;
          }
          .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
          }
          
    }

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

body {
    font-size: 20px; 
    }

    h1 {
      font-family: 'DM Serif Display', serif;
      font-size: 42px;
      font-weight: 400;
  }
  
  h2 {
      font-family: 'DM Serif Display', serif;
      font-size: 34px;
      font-weight: 400;
  }
  
  h3 {
      font-family: 'DM Serif Display', serif;
      font-size: 30px;
      font-weight: 400;
  }
  
  h4 {
      font-size: 20px;
      font-weight: 700;
  }

.col-lg-7 {
width: 60%;
}

.col-lg-5 {
width: 40%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.picture {
max-width: 600px;
}

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
